:root {
    --bg-dark: #29292A;
    --bg-light: #F6F6F6;

    --h1-dark: #FFFFFF;
    --h1-light: #1E1E1E;

    --nav-dark: #1E1E1E;
    --nav-light: #FFFFFF;

    --div-outline-border: #676767;
    --p-color: #e6e3e3;

    --div-outline-light: #FFFFFF;
    --div-outline-dark: #1E1E1E;

    --navbar-text-dark: #CCC5B9;

    --search-background: #69696900;
    --search-background-focus: #69696955;
    --search-border-color: #4a4a4a;

    
    /* --font-family: "Roboto", sans-serif; */
    --second-family: "Arial Rounded MT Bold", sans-serif;
    --third-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family) !important;
    font-size: 3rem;
}
.dark {
    background-color: var(--bg-dark);
}

main {
    flex-grow: 1;
}

h1 {
    margin: 5px auto;
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
    color: var(--h1-light);
}

h2 {
    margin: 5px auto;
    margin-top: 20px;
    font-size: 48px;
    text-align: start;
}

h4 {
    color: var(--h1-light);
}

h5 {
    font-size: 3rem;
    color: var(--h1-dark);
}

main p {
    color: var(--navbar-text-dark);
    margin: 5px auto;
    font-size: 28px;
    text-align: start;
}

p {
    color: var(--navbar-text-dark);
}

.dark h2 {
    color: var(--h1-dark);
}


.dark h1 {
    color: var(--h1-dark);
}

nav {
    background-color: var(--nav-light);
    padding: 10px;
}
.dark nav {
    background-color: var(--nav-dark);
}

.div-outline {
    margin: 5px;
    padding: 3px 5px;
    border-radius: 3px;
    border-width: 1px;
    border: solid 1px var(--div-outline-border);;
    
    background-color: var(--h1-light);
}
.dark .div-outline {
    background-color: var(--div-outline-dark);
}

.custom-link {
    color: var(--navbar-text-dark);
}

.custom-link:visited {
    color: var(--navbar-text-dark);
}

.custom-link:hover {
    color: var(--nav-light);
    opacity: 5;
}

.profile-link {
    width: 50px; 
    display: inline-block;
}

.img-link {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.cards {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.cards > div {
    width: 30rem;
    background-color: var(--div-outline-dark);
}

.cards > div > img {
    width: 20rem;
}

.card-btn {
    background-color: var(--navbar-text-dark);
    color: var(--h1-light);
    font-size: 2rem !important;
}

.card-btn:hover {
    color: var(--h1-dark);
    background-color: var(--dark-focus-outline);
    opacity: 5;
}

.card-btn:active {
    color: var(--h1-dark) !important;
}

.register-form {
    height: 50vh;
    
}
.form-container {
    height: 100%;
    width: 100%;  
    color: var(--dark-text);
}

.form-container > form {
    width: 50vh;  
}

.form-label {
    color: var(--h1-dark);
}

.form-text {
    color: var(--navbar-text-dark);
}

.form-check-label {
    color: var(--navbar-text-dark);
}

.form-btn {
    /* width: 15rem; */
    height: 4rem;
    background-color: var(--navbar-text-dark);
    color: var(--h1-light);
    font-size: 2rem !important;
}

.form-btn:hover {
    background-color: var(--dark-focus-outline);
    opacity: 5;
}

.custom-input {
    background-color: var(--dark-text);
    color: var(--dark-bg-lighten);
    font-size: 2rem !important;
    outline: none;
    text-transform: uppercase;
    padding: 1rem;
    /* border: none; */
    border-radius: var(--border-radius);
}

.custom-input:focus {
    border: 2px solid;
    border-color: var(--dark-focus-outline);
}


.custom-search {
    background-color: var(--search-background);
    color: var(--dark-text);
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px solid var(--search-border-color);
    border-radius: var(--border-radius);
    outline: none;
    min-width: 20rem;
    margin: 0 5px;
}

.custom-search:focus {
    background-color: var(--search-background-focus);
    border-color: var(--div-outline-border);
}

.overlay {
    position: absolute;
    background-color: var(--h1-light);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E00;
    border-radius: 3px;
}

.overlay > a {
    opacity: 0;
}

.card:hover .overlay {
    background-color: #1E1E1ECF;
    transform: scale(1.05);
    
}

.card:hover .overlay > a {
    opacity: 1;
}

.svg-text-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.svg-image {
    /* width: 50px; */
    height: 2rem;
    margin-right: 5px;
}